<div class="panel panel-default toolbar">
	<div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-input-start">
				<i class="glyphicon glyphicon-tag" aria-hidden="true"></i>
				Add
			</button>
			<div class="dropdown-menu" role="menu">
				<input type="text" class="form-control dropdown-input"
					data-action="add"
					placeholder="Add to List">
				<ul class="dropdown-input-results" data-action="add"></ul>
			</div>
			<button type="button" class="btn btn-default btn-input-start">
				<i class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></i>
				Move
			</button>
			<div class="dropdown-menu" role="menu">
				<input type="text" class="form-control dropdown-input"
					data-action="move"
					placeholder="Move to List">
				<ul class="dropdown-input-results" data-action="move"></ul>
			</div>
			<button type="button" class="btn btn-default toolbar-remove">
				<i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
				Remove
			</button>
		</div>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" disabled>
					<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
					New
				</button>
			</span>
			<input type="text" class="form-control input-list-search" placeholder="Open List...">
			<i class="glyphicon glyphicon-search form-control-feedback"></i>
		</div>
	</div>
</div>
<div class='collection'></div>
