<div class="panel panel-default toolbar">
	<div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default">Add</button>
			<button type="button" class="btn btn-default">Move</button>
			<button type="button" class="btn btn-default toolbar-remove">Remove</button>
		</div>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">+</button>
			</span>
			<input type="text" class="form-control input-list-search" placeholder="Search Lists">
		</div>
	</div>
</div>
<div class='collection'></div>
