@import "common";

.asg-suggestions,
.asg-static-suggestions {
	max-height: 300px;
	overflow-y: auto;
	background-color: $bodyWhite;
	cursor: pointer;

	.asg-ul,
	.asg-static-ul {
		display: table;
		list-style: none;
		padding: 0px;
		margin: 0px;
		min-width: 100%;
	}

	.asg-li,
	.asg-static-li {
		padding: 0px;
		margin: 0px;
		display: table-row;

		@include box-sizing(border-box);

		&:hover,
		&.sel {
			background-color: $accent;

			.asg-label {
				color: $bodyWhite;
			}
		}
	}

	.asg-label,
	.asg-static-label {
		display: table-cell;
		padding: 5px 10px;
		color: $bodyBlack;
		vertical-align: middle;
		&:focus,
		&:active {
			outline: none;
		}
	}

	.asg-img-wrap,
	.asg-static-img-wrap {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding: 3px;

		&.asg-no-img {
			padding: 0;
		}
	}

	.asg-img,
	.asg-static-img {
		max-width: 40px;
		max-height: 30px;
	}
	&.left:after {
		left: auto;
		right: 20%;
	}
	&.asg-fixed,
	&.asg-static-fixed {
		position: fixed;
	}
}

.asg-suggestions {
	position: absolute;
	z-index: 500000;
	width: auto;
	min-width: 200px;
	border: 0px solid $borderLight;
	border-bottom: 0px;
	@include border-radius(5px);

	@include box-shadow(1px 1px 9px rgba(0,0,0,0.2));
}