
@import "common";

/* Type
*********************************/

body {
	font-family: "Helvetica Neue";
	color: $bodyBlack;
	height: 100vh;
	overflow: hidden;
}

.fa {
	color: $bodyBlack;
}

.font-header {
	font-size: 20px;
	font-weight: 300;
}

/* Page
*********************************/

.footer {
	height: 50px;
	line-height: 50px;
}

/* Collection
*********************************/

$pageHeaderHeight: 160px;
$pageFooterHeight: 50px;

.collection {
	white-space: nowrap;
	width: 100%;
	height: calc(100vh - #{$pageHeaderHeight} - #{$pageFooterHeight});
	overflow-x: auto;
}

.toolbar .input-group {
	width: 234px;
	float: right;
	& .input-group-btn:first-child > .btn {
		margin-right: -2px;
	}
}

/* Lists
*********************************/

$listHeaderHeight: 40px;

.list-wrap {
	white-space: normal;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	height: 100%;
	width: 300px;
	border: 1px solid $borderLight;
	border-radius: 5px;

	& + .list-wrap {
		margin-left: 5px;
	}
}

.list-title {
	@extend .font-header;
	height: $listHeaderHeight;
	line-height: 44px;
	padding-left: 5px;
	.badge {
		position: relative;
		bottom: 4px;
		background-color: $lightGrey;
	}
}

.list {
	overflow-y: auto;
	height: calc(100% - #{$listHeaderHeight});
	margin: 0;
}

/* Users
*********************************/

.user {
	clear: both;
	box-sizing: border-box;
	cursor: default;
	padding: 5px;

	& + .user {
		border-top: 1px solid $borderLight;
	}
	&.selected {
		background: $borderLight;
		border-left: 2px solid $accent;
		padding-left: 3px;
	}
	.glyphicon {
		font-size: .8em;
		top: 0;
	}
}
.user-image-wrap {
	float: left;
	margin-right: 10px;
}
.user-image {
	height: 40px;
}
.user-name {
	font-weight: 600;
}
.user-screen-name {
	color: $lightGrey;
	font-style: italic;
}