
@import "common";

/* Type
*********************************/

body {
	font-family: "Helvetica Neue";
	color: $bodyBlack;
	height: 100vh;
	overflow: hidden;
}

.fa {
	color: $bodyBlack;
}

.font-header {
	font-size: 20px;
	font-weight: 300;
}

/* Page
*********************************/

.navbar {
	.phase {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.7em;
		vertical-align: top;
		line-height: 1em;
		position: relative;
		top: 4px;
	}
}

.footer {
	height: 50px;
	line-height: 50px;

	.footer-inner-right {
		text-align: right;
	}
}

/* Collection
*********************************/

$pageHeaderHeight: 123px;
$pageFooterHeight: 50px;
$toolbarHeight: 37px;

.collection {
	white-space: nowrap;
	width: 100%;
	height: calc(100vh - #{$pageHeaderHeight} - #{$pageFooterHeight} - #{$toolbarHeight});
	overflow-x: auto;
}

.collection-wrap {
	height: calc(100vh - #{$pageHeaderHeight});
}

.toolbar .input-group {
	width: 234px;
	float: right;
	& .input-group-btn:first-child > .btn {
		margin-right: -2px;
	}
	.input-list-open:focus + .glyphicon {
		display: none;
	}
}

.btn-input-start + .dropdown-menu  {
	
	display: none;
	&.focus { display: block; }

	.dropdown-input,
	.dropdown-input:focus {
		border: none;
		@include box-shadow(none);
	}

	.dropdown-input-results {
		margin: 0;
		padding: 0;
	}
}

.toolbar {
	.btn ~ .btn {
		margin-left: -1px;
	}
	.dropdown-menu ~ .dropdown-menu {
		left: 70px;
	}
}

/* Lists
*********************************/

$listHeaderHeight: 40px;

.list-wrap {
	white-space: normal;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	height: 100%;
	width: 300px;
	border: 1px solid $borderLight;
	border-radius: 5px;

	& + .list-wrap {
		margin-left: 5px;
	}

	.nav {
		display: inline-block;
		position: absolute;
		right: 0;
	}
	.dropdown-toggle {
		padding-top: 0;
		padding-bottom: 0;
		.glyphicon {
			color: $bodyBlack;
			top: 4px;
		}
	}
	.dropdown-menu {
		min-width: 0;
	}
	&.dragged {
		position: absolute;
		opacity: 0.5;
		z-index: 2000;
		background: #fff;
	}
	&.placeholder {
		border: 5px dashed $borderLight;
	}
}

.list-title {
	@extend .font-header;
	height: $listHeaderHeight;
	line-height: 44px;
	padding-left: 10px;
	position: relative;
}

.list {
	overflow-y: auto;
	height: calc(100% - #{$listHeaderHeight});
	margin: 0;
}

/* List Sorting
*********************************/

body.dragging,
body.dragging * {
  cursor: ew-resize !important;
}

.list-wrap .handle {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: -5px;
	position: relative;
	cursor: ew-resize;

	&:before,
	&:after {
		content: "";
		position: absolute;
		height: 100%;
		border-left: 1px solid $borderDark;
		border-right: 1px solid $borderDark;
	}
	&:after {
		left: 0px;
		width: 10px;
	}
	&:before {
		left: 3px;
		width: 4px;
	}
}

/* List Form
*********************************/

input[type=radio]:not(:checked) ~ .glyphicon {
	display: none;
}

.save-error {
	display: none;
	.exception & { display: block; }
}

/* Users
*********************************/

.user {
	clear: both;
	box-sizing: border-box;
	cursor: default;
	padding: 5px;

	@include user-select(none);

	& + .user {
		border-top: 1px solid $borderLight;
	}
	&.selected {
		background: $borderLight;
		border-left: 2px solid $accent;
		padding-left: 3px;
	}
	.glyphicon {
		font-size: .8em;
		top: 0;
	}
}
.user-image-wrap {
	float: left;
	margin-right: 10px;
}
.user-image {
	height: 40px;
}
.user-name {
	font-weight: 600;
}
.user-screen-name {
	color: $lightGrey;
	font-style: italic;
}

/* User Detail Modal
*********************************/

.user-detail-img-wrap {
	float: left;
	margin-right: 10px;
}

/* Generic Modal
*********************************/

.modal-footer,
.modal-header {
	border: none;
}