<!DOCTYPE html>
<html>
	<head>
		<title>Home | {{= pkg.title }}</title>

		<!-- social media tags -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{= pkg.twitter }}">
		<meta name="twitter:title" content="{{= pkg.title }}">
		<meta name="twitter:description" content="{{- pkg.description }}">
		<meta name="twitter:creator" content="{{= pkg.twitter }}">
		<meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
		<meta property="og:title" content="{{= pkg.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{= pkg.homepage }}" />
		<meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
		<meta property="og:description" content="{{- pkg.description }}">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="./assets/css/powerline.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link rel="stylesheet" href="./lib/asg.min.css">
	</head>
	<body>

		<!-- header -->
		<div class="container pline-header">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
					ng-click="menuCollapsed = ! menuCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand">
						{{= pkg.title }}
						<small>
						<a href="http://github.com/donmccurdy/powerline/blob/v{{= pkg.version }}-release/CHANGELOG.md">
							v{{= pkg.version }}
						</a>
						</small>
					</div>
				</div>
				<div class="collapse navbar-collapse" collapse="menuCollapsed">
					<ul class="nav navbar-nav">
						<li ui-sref-active="active">
							<a href ui-sref="home">
								<i class="fa fa-home"></i>
								Home
							</a>
						</li>
						<li ui-sref-active="active">
							<a href ui-sref="about">
								<i class="fa fa-info-circle"></i>
								About
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-question-circle"></i>
								Help
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">
										<i class="fa fa-rocket"></i>
										Tutorial
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-keyboard-o"></i>
										Shortcuts
									</a>
								</li>
								<li>
									<a href="https://github.com/donmccurdy/powerline/issues">
										<i class="fa fa-comments"></i>
										Issues
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<!-- navbar-right.tpl.html -->
					</ul>
				</div>
			</div>
		</div>

		<div class="container" ui-view="main">
			<!-- workspace -->
			<div class="collection-wrap"></div>
		</div>

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<div class="footer-inner">
					<p>
					Created by <a href="https://twitter.com/don_mccurdy">@don_mccurdy</a>
					</p>
				</div>
			</div>
		</footer>

		<!-- vendor scripts -->
		{{ _.forEach(vendor_scripts, function (script) {  }}
			<script src="./lib/{{= script }}"></script>
		{{ }) }}

		<!-- templates -->
		<script src="./assets/js/templates.js"></script>

		<!-- application scripts -->
		{{ if (process.env.NODE_ENV === 'DEVELOPMENT') { }}
			{{ _.forEach(dev_scripts, function (script) { }}
			<script src="./assets/js/.tmp/{{= script }}.js"></script>
			{{ }) }}
		{{ } else { }}
			<script src="./assets/js/powerline.js"></script>
		{{ } }}

		<!-- bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>