<!DOCTYPE html>
<html>
	<head>
		<title>Home | {{= pkg.title }}</title>

		<!-- social media tags -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{= pkg.twitter }}">
		<meta name="twitter:title" content="{{= pkg.title }}">
		<meta name="twitter:description" content="{{- pkg.description }}">
		<meta name="twitter:creator" content="{{= pkg.twitter }}">
		<meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
		<meta property="og:title" content="{{= pkg.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{= pkg.homepage }}" />
		<meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
		<meta property="og:description" content="{{- pkg.description }}">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		{{ if (process.env.NODE_ENV === 'DEVELOPMENT') { }}
			<link rel="stylesheet" href="./assets/css/powerline.css">
			<link rel="stylesheet" href="./assets/css/autocomplete.css">
		{{ } else { }}
			<link rel="stylesheet" href="./assets/css/powerline.min.css">
			<link rel="stylesheet" href="./assets/css/autocomplete.min.css">
		{{ } }}

	</head>
	<body>

		<!-- header -->
		<div class="container pline-header">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
					ng-click="menuCollapsed = ! menuCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand">
						{{= pkg.title }}
						<small>
						<a href="{{= pkg.github }}">
							<!-- TODO CHANGELOG */blob/v{{= pkg.version }}-release/CHANGELOG.md -->
							v{{= pkg.version }} <span class="phase">Alpha</span>
						</a>
						</small>
					</div>
				</div>
				<div class="collapse navbar-collapse" collapse="menuCollapsed">
					<ul class="nav navbar-nav">
						<li ui-sref-active="active">
							<a href ui-sref="home">
								<i class="glyphicon glyphicon-home"></i>
								Home
							</a>
						</li>
						<li ui-sref-active="active">
							<a href ui-sref="about">
								<i class="glyphicon glyphicon-info-sign"></i>
								About
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-question-sign"></i>
								Help
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">
										Tutorial
									</a>
								</li>
								<li>
									<a href="#">
										Shortcuts
									</a>
								</li>
								<li>
									<a href="https://github.com/donmccurdy/powerline/issues">
										Issues
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<!-- navbar-right.tpl.html -->
					</ul>
				</div>
			</div>
		</div>

		<div class="container" ui-view="main">
			<!-- workspace -->
			<div class="collection-wrap"></div>
		</div>

		<!-- footer -->
		<footer class="container footer">
			<!-- footer.tpl.html -->
		</footer>

		<!-- vendor scripts -->
		{{ _.forEach(vendor_scripts, function (script) {  }}
			<script src="./lib/{{= script }}"></script>
		{{ }) }}

		<!-- bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!-- templates -->
		<script src="./assets/js/templates.js"></script>

		<!-- config -->
		<script>var Config={CLIENT_ID:'{{= process.env.CLIENT_ID }}',OAUTH_PROXY:'{{= process.env.OAUTH_PROXY }}'};</script>

		<!-- application scripts -->
		{{ if (process.env.NODE_ENV === 'DEVELOPMENT') { }}
			{{ _.forEach(dev_scripts, function (script) { }}
			<script src="./assets/js/.tmp/{{= script }}.js"></script>
			{{ }) }}
			<script>
				(function (MemoryStats) {
					var stats = new MemoryStats();
					stats.domElement.classList.add('memory-stats');
					document.body.appendChild( stats.domElement );
					window.requestAnimationFrame(function rAFloop(){
						stats.update();
						window.requestAnimationFrame(rAFloop);
					});
				}(window.MemoryStats));
			</script>
		{{ } else { }}
			<script src="./assets/js/powerline.min.js"></script>
		{{ } }}
	</body>
</html>